body {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #448899;
  z-index: 100;
}
.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.shadow.active {
  opacity: 0.25;
  pointer-events: auto;
}
.block_style {
  position: fixed;
  z-index: 12;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -130%);
  background-color: #ffffff;
  width: 340px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}
.block_style.active {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}

.border_style {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, #66aabb, #337788);
  border-radius: 5px 5px 0 0;
}
.block_title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #666666;
  margin: 3%;
}
.block_context {
  width: 90%;
  height: 47px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
  margin: 3% auto;
  font-weight: 500;
  font-size: 16px;
  color: #757575;
  padding-left: 10px;
}
.block_btn {
  border: none;
  border-radius: 5px;
  display: block;
  margin: 3% auto;
  width: 310px;
  height: 47px;
  background-color: #448899;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
.block_btn:hover {
  background-color: #476c75;
}
.alert_text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3%;
  color: #df0c0c;
  text-align: center;
}

.block_text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3%;
  color: #666666;
  text-align: center;
  cursor: pointer;
}
.x_style {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8%;
  right: 5%;
  cursor: pointer;
}
.nav_container {
  display: flex;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
}
.nav_title {
  flex: auto;
  width: auto;
  margin: 10px;
  color: #448899;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}
.nav_title:hover {
  color: #476c75;
}
.nav_subtitle {
  flex: none;
  width: 8%;
  justify-content: flex-end;
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.nav_subtitle:hover {
  color: #000000;
}
footer {
  background-color: #757575;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text {
  font-size: 16px;
  color: #ffffff;
}
